<div class="container-fluid">
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <div>
            <h4 class="mb-0 fw-bold text-body">
                <?=$title?>
            </h4>
            <ul class="breadcrumb small mb-0">
                <li class="breadcrumb-item small">
                    <a href="/" class="pjax-load link-secondary"><?=$jatbi->lang("Trang chủ")?></a>
                </li>
                <li class="breadcrumb-item small text-body" aria-current="page">
                    <?=$title?>
                </li>
            </ul>
        </div>
        <div class="filter-search">
            <div class="d-flex align-items-center justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-eclo-light fw-semibold border-0 rounded-pill small d-flex align-items-center"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="false">
                        <i class="ti ti-filter fs-5 me-2"></i> <?=$jatbi->lang("Điều kiện lọc")?>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end border-0 bg-body bg-opacity-25 shadow-lg rounded-4 min-width bg-blur"
                        style="--blur:10px;--min-width:300px;--min-width-xs:100vw">
                        <div class="fw-semibold py-2 px-3">
                            <?=$jatbi->lang("Điều kiện lọc")?>
                        </div>
                        <div class="px-3">

                            <div class="row g-3">
                                <div class="col-md-6">
                                    <?=$app->component('select', [
                            "name" => 'type',
                            "placeholder" => $jatbi->lang('Loại'),
                            "class" => "filter-name",
                            "options" => $types ?? [],
                            "selected" => $_GET['type'] ?? ''
                        ])?>
                                    <?=$app->component('select', [
                            "name" => 'colors',
                            "placeholder" => $jatbi->lang('Màu sắc'),
                            "class" => "filter-name",
                            "options" => $colors ?? [],
                            "selected" => $_GET['colors'] ?? ''
                        ])?>
                                    <?=$app->component('select', [
                            "name" => 'units',
                            "placeholder" => $jatbi->lang('Đơn vị'),
                            "class" => "filter-name",
                            "options" => $units ?? [],
                            "selected" => $_GET['units'] ?? ''
                        ])?>

                                    <?=$app->component('select', [
                            "name" => 'group',
                            "placeholder" => $jatbi->lang('Nhóm sản phẩm'),
                            "class" => "filter-name",
                            "options" => $groups ?? [],
                            "selected" => $_GET['group'] ?? ''
                        ])?>




                                </div>
                                <div class="col-md-6">
                                    <?=$app->component('select', [
                            "name" => 'pearl',
                            "placeholder" => $jatbi->lang('Loại ngọc'),
                            "class" => "filter-name",
                            "options" => $pearls ?? [],
                            "selected" => $_GET['pearl'] ?? ''
                        ])?>
                                    <?=$app->component('select', [
                            "name" => 'sizes',
                            "placeholder" => $jatbi->lang('Li ngọc'),
                            "class" => "filter-name",
                            "options" => $sizes ?? [],
                            "selected" => $_GET['sizes'] ?? ''
                        ])?>
                                    <?=$app->component('select', [
                            "name" => 'categorys',
                            "placeholder" => $jatbi->lang('Danh mục'),
                            "class" => "filter-name",
                            "options" => $categorys ?? [],
                            "selected" => $_GET['categorys'] ?? ''
                        ])?>


                                    <?=$app->component('select-status',[
                            "placeholder" => $jatbi->lang('Trạng thái'),
                            "class" => "filter-name",
                            "value" => $_GET['status'] ?? '',
                        ])?>



                                </div>
                            </div>
                        </div>

                        <hr class="border-secondary border-opacity-50 my-2">
                        <div class="px-3 py-2 text-end w-100">
                            <button type="button"
                                class="btn btn-light px-3 py-2 rounded-pill reset-filter"><?=$jatbi->lang("Làm mới")?></button>
                            <button type="button"
                                class="btn btn-eclo px-3 py-2 rounded-pill button-filter"><?=$jatbi->lang("Tìm")?></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card bg-body bg-opacity-50 shadow border-0 rounded-4">
        <div class="card-body">
            <div class="custom-buttons d-none">
                <div class="btn-group">
                    <button type="button" class="btn btn-eclo dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="ti ti-report"></i> <?=$jatbi->lang('Nhập hàng')?>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end border-0 bg-blur shadow-lg rounded-4"
                        style="--blur:10px;">
                        <li>
                            <a class="dropdown-item" href="/crafting/gold-import-ingredient">
                                <?=$jatbi->lang('Nhập kho')?>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/crafting/products-import-move/gold">
                                <?=$jatbi->lang("Nhập từ kho thành phẩm")?>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/crafting/crafting-import-move/gold">
                                <?=$jatbi->lang("Nhập từ chuyển chế tác")?>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/crafting/crafting-export/gold">
                                <?=$jatbi->lang("Xuất kho")?>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/crafting/crafting-move-crafting/gold">
                                <?=$jatbi->lang("Chuyển kho chế tác")?>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/crafting/crafting-move/gold">
                                <?=$jatbi->lang("Chuyển qua kho thành phẩm")?>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/crafting/crafting-cancel/gold">
                                <?=$jatbi->lang("Hủy nguyên liệu kho chế tác")?>
                            </a>
                        </li>





                        <hr class="border-secondary border-opacity-50 my-2">

                        <li>
                            <a class="dropdown-item" href="/crafting/crafting-import-history/gold">
                                <?=$jatbi->lang('Lịch sử nhập kho')?>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/crafting/crafting-export-history/gold">
                                <?=$jatbi->lang('Lịch sử xuất hàng')?>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/crafting/crafting-cancel-history/gold">
                                <?=$jatbi->lang('Lịch sử hủy hàng')?>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <table id="datatable" data-table class="table align-middle" data-type="POST" data-server="true"
                data-processing="true" data-page-length="10" data-searching="true" data-paging="true"
                data-state-save='true' style="width:100%">
                <thead>
                    <tr>
                        <th data-name="type" data-orderable="false"><?=$jatbi->lang("Loại")?></th>
                        <th data-name="code" data-orderable="false"><?=$jatbi->lang("Mã nguyên liệu")?></th>

                        <th data-name="pearl" data-orderable="false"><?=$jatbi->lang("Ngọc trai")?></th>
                        <th data-name="sizes" data-orderable="false"><?=$jatbi->lang("Kích cỡ")?></th>
                        <th data-name="colors" data-orderable="false"><?=$jatbi->lang("Màu sắc")?></th>

                        <th data-name="crafting" data-orderable="false"><?=$jatbi->lang("Số lượng")?></th>
                        <th data-name="price" data-orderable="false"><?=$jatbi->lang("Giá tiền")?></th>
                        <th data-name="unit" data-orderable="false"><?=$jatbi->lang("Đơn vị")?></th>
                        <th data-name="action" data-orderable="false"><?=$jatbi->lang("Tùy chọn")?></th>

                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <td colspan="4"></td>
                        <th class="text-end fw-bold" id="total-crafting">Tổng</td>
                        <th data-name="totalCrafting" data-orderable="false"></th>
                        <td colspan="2"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>