<div class="container-fluid mt-4">
    <div class="pjax-content-load">
        <nav class="mb-3 d-flex justify-content-between align-items-center" aria-label="breadcrumb">
            <div>
                <h4 class="mb-0 fw-bold text-body">
                    <?=$title?>
                </h4>
                <ul class="breadcrumb small mb-0 bg-transparent p-0">
                    <li class="breadcrumb-item"><a href="/"><?=$jatbi->lang('Trang chủ')?></a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <?=$title?>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row justify-content-center align-items-start">
            <div class="col-lg-4">
                <div class="card bg-body bg-opacity-50 shadow border-0 rounded-4 mb-4">
                    <div class="card-body">
                        <h6 class="fw-bold mb-3"><?=$jatbi->lang('Thông tin sản phẩm')?></h6>
                        <?=$app->component('input', [
                            "name" => 'amount',
                            "placeholder" => $jatbi->lang('Số lượng chế tác'),
                            "value" => $data['amount'] ?? 1,
                            "required" => true,
                            "attr" => 'data-load="this" data-action="blur" data-form=\'{"value":"this.val"}\' data-url="/crafting/pairing-update/add/amount"'
                        ])?>
                        <?=$app->component('input', [
                            "name" => 'code', 
                            "placeholder" => $jatbi->lang('Mã sản phẩm'), 
                            "value" => $data['code'] ?? '', 
                            "required" => true, 
                            "attr" => 'data-action = "blur" data-form=\'{"value": "this.val"}\'
                                    data-url= "/crafting/pairing-update/add/code"'
                        ])?>
                        <?=$app->component('input', [
                            "name" => 'name', 
                            "placeholder" => $jatbi->lang('Tên sản phẩm'), 
                            "value" => $data['name'] ?? '', 
                            "required" => true, 
                            "attr" => 'data-action = "blur" data-form=\'{"value": "this.val"}\'
                                    data-url= "/crafting/pairing-update/add/name"'
                        ])?>
                        <?=$app->component('input', [
                            "type" => 'tel',
                            "name" => 'price', 
                            "placeholder" => $jatbi->lang('Giá bán'), 
                            "value" => $data['price'] ?? 0, 
                            "required" => true, 
                            "attr" => 'data-number="money" data-currency="" data-decimals="0" data-thousands="," data-decimal="." 
                                    data-action = "blur" data-form=\'{"value": "this.val"}\'
                                    data-url= "/crafting/pairing-update/add/price"'
                        ])?>
                        <?=$app->component('select', [
                            "name" => 'group', 
                            "placeholder" => $jatbi->lang('Nhóm sản phẩm'), 
                            "options" => $groups ?? [], 
                            "selected" => $data['group'] ?? '', 
                            "required" => true, 
                            "attr" => ' data-action = "change" data-form=\'{"value": "this.val"}\'
                                    data-url= "/crafting/pairing-update/add/group"'
                        ])?>
                        <?=$app->component('select', [
                            "name" => 'categorys', 
                            "placeholder" => $jatbi->lang('Danh mục'), 
                            "options" => $categorys ?? [], 
                            "selected" => $data['categorys'] ?? '', 
                            "required" => true, 
                            "attr" => ' data-action = "change" data-form=\'{"value": "this.val"}\'
                                    data-url= "/crafting/pairing-update/add/categorys"'
                        ])?>
                        <?=$app->component('select', [
                            "name" => 'default_code', 
                            "placeholder" => $jatbi->lang('Mã cố định'), 
                            "options" => $default_codes ?? [], 
                            "selected" => $data['default_code'] ?? '', 
                            "required" => true, 
                            "attr" => ' data-action = "change" data-form=\'{"value": "this.val"}\'
                                    data-url= "/crafting/pairing-update/add/default_code"'
                        ])?>
                        <?=$app->component('select', [
                            "name" => 'units', 
                            "placeholder" => $jatbi->lang('Đơn vị'), 
                            "options" => $units ?? [], 
                            "selected" => $data['units'] ?? '', 
                            "required" => true, 
                            "attr" => ' data-action = "change" data-form=\'{"value": "this.val"}\'
                                    data-url= "/crafting/pairing-update/add/units"'
                        ])?>
                        <?=$app->component('select', [
                            "name" => 'personnels', 
                            "placeholder" => $jatbi->lang('Nhân viên'), 
                            "options" => $personnels ?? [], 
                            "selected" => $data['personnels'] ?? '', 
                            "required" => true, 
                            "attr" =>' data-action = "change" data-form=\'{"value": "this.val"}\'
                                    data-url= "/crafting/pairing-update/add/personnels"'
                        ])?>
                        <?=$app->component('textarea', [
                            "name" => 'content', 
                            "placeholder" => $jatbi->lang('Giới thiệu sản phẩm'), 
                            "value" => $data['content'] ?? '',
                            "required" => true, 
                            "attr" =>'data-action = "blur" data-form=\'{"value": "this.val"}\'
                                    data-url= "/crafting/pairing-update/add/content"'
                        ])?>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card bg-body bg-opacity-50 shadow border-0 rounded-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <?=$app->component('select', [
                                    "name" => 'ingredient', 
                                    "placeholder" => $jatbi->lang('Nguyên liệu'), 
                                    "options" => $nguyenlieu ?? [], 
                                    "required" => true, 
                                    "attr" =>'data-load="this" data-action = "change" data-form=\'{"value": "this.val"}\'
                                            data-url= "/crafting/pairing-update/add/ingredient/add/0"'
                                ])?>
                            </div>
                        </div>
                        <div class="table-responsive mt-3" data-pos-table>
                            <table class="table table-hover table-striped table-bordered align-middle">
                                <thead>
                                    <tr>
                                        <th><?=$jatbi->lang("Nguyên liệu")?></th>
                                        <th><?=$jatbi->lang("Thông số")?></th>
                                        <th><?=$jatbi->lang("Giá bán")?></th>
                                        <th><?=$jatbi->lang("Tồn kho")?></th>
                                        <th width="10%"><?=$jatbi->lang("Số lượng")?></th>
                                        <th><?=$jatbi->lang("Số lượng chế tác")?></th>
                                        <th><?=$jatbi->lang("Thành tiền")?></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php 
                                    foreach (($SelectProducts ?? []) as $key => $SelectProduct) {  
										$getPro = $app->get("ingredient","*",["id"=>$SelectProduct['ingredient']]); 
									?>
                                    <tr>
                                        <td class="pe-2 ps-2">
                                            <?=$getPro['code'] ?? ""?>
                                        </td>
                                        <td class="pe-2 ps-2">
                                            <?php if($getPro['type']==1){?>
                                            <p class="mb-0"><?=$jatbi->lang("Chế tác")?>:
                                                <?=$app->get("products_group","name",["id"=>$getPro['group'] ?? ""])?>
                                            </p>
                                            <p class="mb-0"><?=$jatbi->lang("Danh mục")?>:
                                                <?=$app->get("categorys","name",["id"=>$getPro['categorys'] ?? ""])?>
                                            </p>
                                            <?php } if($getPro['type']==2){?>
                                            <p class="mb-0"><?=$jatbi->lang("Loại ngọc")?>:
                                                <?=$app->get("pearl","name",["id"=>$getPro['pearl'] ?? ""])?>
                                            </p>
                                            <p class="mb-0"><?=$jatbi->lang("Màu sắc")?>:
                                                <?=$app->get("colors","name",["id"=>$getPro['colors'] ?? ""])?>
                                            </p>
                                            <p class="mb-0"><?=$jatbi->lang("Li ngọc")?>:
                                                <?=$app->get("sizes","name",["id"=>$getPro['sizes'] ?? ""])?>
                                            </p>
                                            <?php } ?>app
                                        </td>
                                        <td class="pe-2 ps-2">
                                            <?=number_format($SelectProduct['price'] ?? 0)?>
                                        </td>
                                        <td class="pe-2 ps-2">
                                            <?=$SelectProduct['warehouses'] ?? ""?>
                                        </td>
                                        <td class="">
                                            <input type="tel" data-number="money" data-currency="" data-decimals="0"
                                                data-thousands="," data-decimal="." name="amount" data-action="blur"
                                                class="blur-update border-0 w-100  h-100 p-2 bg-transparent"
                                                data-form='{"value": "this.val"}'
                                                data-url="/crafting/pairing-update/add/ingredient/amount/<?=$key?>"
                                                value="<?=$SelectProduct['amount'] ?? 0?>" data-load="this" min="0">
                                        </td>
                                        <td class="pe-2 ps-2">
                                            <?=($SelectProduct['amount'] ?? 0)*($data['amount'] ?? 0)?>
                                        </td>
                                        <td class="pe-2 ps-2">
                                            <?=number_format(($SelectProduct['amount'] ?? 0)*((float)$SelectProduct['price'] ?? 0))?>
                                        </td>
                                        <td class="text-center">
                                            <a class="click-update  text-danger" data-load="this" data-action="click"
                                                data-url="/crafting/pairing-update/add/ingredient/deleted/<?=$key?>">
                                                <i class="ti ti-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                        <?=$app->component('textarea', [
                            "name" => 'notes', 
                            "placeholder" => $jatbi->lang('Ghi chú'), 
                            "required" => true, 
                            "value" => $data['notes'] ?? '', 
                            "attr" =>'data-form=\'{"value": "this.val"}\'
                                    data-url= "/crafting/pairing-update/add/notes"'
                        ])?>
                    </div>
                    <?php
                    $rou = ''; 
                    if($data["group_crafting"]==1){
                        $rou = 'goldsmithing';
                    }if($data["group_crafting"]==2){
                        $rou = 'silversmithing';
                    }if($data["group_crafting"]==3){
                        $rou = 'chainmaking';
                    } ?>
                    <div class="card-footer text-end bg-transparent border-0 py-3">
                        <button class="btn btn-light rounded-pill px-4 click-update" data-action="modal"
                            data-url="/crafting/pairing-update/add/cancel"><?=$jatbi->lang('Hủy')?></button>
                        <button class="btn btn-eclo rounded-pill px-5 click-update" data-action="modal"
                            data-url="/crafting/pairing-update/add/completed/<?=$rou?>"><?=$jatbi->lang('Hoàn tất')?></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>