<div class="container-fluid mt-4">
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <div>
            <h4 class="mb-0 fw-bold text-body">
                <?=$title?>
            </h4>
            <ul class="breadcrumb small mb-0 bg-transparent p-0">
                <li class="breadcrumb-item small">
                    <a href="<?=$jatbi->url('/')?>" class="pjax-load link-secondary"><?=$jatbi->lang("Trang chủ")?></a>
                </li>
                <li class="breadcrumb-item small text-body" aria-current="page">
                    <?=$title?>
                </li>
            </ul>
        </div>
    </div>

    <?php if($jatbi->permission(['warehouse_import.add']) == 'true'){ ?>
    <div class="position-fixed bottom right z-3 dropup-center dropup" style="--bottom:40px;--right:20px">
        <button class="btn btn-eclo rounded-circle width height d-flex align-items-center justify-content-center "
            style="--width:70px;--height:70px;" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="ti ti-menu-2 fs-1" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu min-width bg-transparent border-0 justify-content-center p-2" style="--min-width:100%">
            <li class="my-2">
                <a class="btn rounded-circle btn-warning width height d-flex justify-content-center align-items-center p-1"
                    data-action="modal" data-url="<?=$jatbi->url('/qaqc/warehouse-import-add')?>"
                    style="--width:50px;--height:50px;">
                    <i class="ti ti-plus fs-3" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <?php } ?>

    <div class="card bg-body bg-opacity-50 shadow border-0 rounded-4">
        <div class="card-body">
            <table id="datatable" data-table class="table align-middle" data-type="POST" data-server="true"
                data-processing="true" data-page-length="10" data-searching="true" data-paging="true"
                data-state-save='true' style="width:100%">
                <thead>
                    <tr>
                        <th data-name="checkbox" data-orderable="false" class="text-nowrap " data-visible="true"
                            data-class="text-center">
                            <div class="form-check"><input class="form-check-input checkall" type="checkbox" value=""
                                    data-checkbox="input.checker"></div>
                        </th>
                        <th data-name="code" data-searchable="true" data-orderable="false" class="text-nowrap "
                            data-visible="true" data-class="text-nowrap"><?=$jatbi->lang("Mã phiếu")?></th>
                        <th data-name="warehouse_stage" data-orderable="false" class="text-nowrap " data-visible="true"
                            data-class="text-center"><?=$jatbi->lang("Nhập vào kho")?></th>
                        <th data-name="line_count" data-orderable="false" class="text-nowrap " data-visible="true"
                            data-class="text-center"><?=$jatbi->lang("Số lô")?></th>
                        <th data-name="total_kg" data-orderable="false" class="text-nowrap " data-visible="true"
                            data-class="text-end"><?=$jatbi->lang("Tổng kg nhập")?></th>
                        <th data-name="date" data-orderable="false" class="text-nowrap " data-visible="true"
                            data-class="text-nowrap"><?=$jatbi->lang("Ngày nhập")?></th>
                        <th data-name="action" data-orderable="false" class="text-nowrap " data-visible="true"
                            data-class="text-end"><?=$jatbi->lang("Tùy chọn")?></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>